<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<main>
    <div>
        <h3>Rating</h3>
        <p>
            <a href="/rating/personal">Personal rating</a>
        </p>
        <p>
            <a href="/rating/team">Team rating</a>
        </p>
    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>