<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Team rating</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
  <div th:replace="/fragments/header :: header"></div>
</header>
<main>
  <div>
    <h3>Team rating in the race cup</h3>
    <table>
      <tr>
        <th>Place</th>
        <th>Team</th>
        <th>Total score</th>
      </tr>
      <tr th:each="rating, index : ${ratings}">
        <td th:text="${index.index + 1}"></td>
        <td th:text="${rating.key}"></td>
        <td th:text="${rating.value}"></td>
      </tr>
    </table>
  </div>
</main>
<footer>
  <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>