    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ccc;
      padding: 10px;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
    }

    nav li {
      margin-right: 20px;
    }

    nav a {
      color: #000;
      text-decoration: none;
    }

    nav a:hover {
      text-decoration: underline;
    }

    main {
    display: flex;
      justify-content: center;
      align-items: center;
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #ccc;
      color: #000;
      text-align: center;
      padding: 10px;
    }

    .pagination {
        display: inline-block;
        margin-top: 10px;
    }

    .pagination span {
        margin-right: 5px;
    }

    .pagination a {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        text-decoration: none;
        color: #000;
    }

    .pagination a.active {
        font-weight: bold;
    }

    .pagination a.inactive {
        color: #ccc;
    }

    .error {
         color: red;
         font-style: italic;
         opacity: 0.5;
         font-size: 14px;
    }

