<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Race info</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3 th:text="${race.name}">Race name</h3>
        <table>
            <tr>
                <td>Location:</td>
                <td th:text="${race.location}" style="font-weight: bold;">Location</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td th:text="${#dates.format(race.date, 'yyyy-MM-dd')}">Date</td>
            </tr>
            <tr>
                <td>Race type:</td>
                <td th:text="${race.raceType.getDisplayRaceType()}">Type</td>
            </tr>
            <tr>
                <td>Distance:</td>
                <td th:text="${race.distanceKm + ' km'}">Distance</td>
            </tr>
            <tr>
                <td>Info:</td>
                <td th:text="${race.info}">Info</td>
            </tr>
        </table>



        <a href="/race/all">Back to race list</a>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>