<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all races</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>All races</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Race name</th>
                <th>Location</th>
                <th>Distance(km)</th>
            </tr>
            <tr th:each="race:${races}">
                <td th:text="${#dates.format(race.date, 'yyyy-MM-dd')}">Date</td>
                <td th:text="${race.raceType.getDisplayRaceType()}">Type</td>
                <td th:text="${race.name}">Race name</td>
                <td th:text="${race.location}">Location</td>
                <td th:text="${race.distanceKm}">Distance</td>

                <td><a th:href="@{/race/about/{raceId}(raceId=${race.id})}">Info</a></td>
                <td><a th:href="@{/result/{raceId}(raceId=${race.id})}">Results</a></td>
                <td><a th:href="@{/race/registration/{raceId}(raceId=${race.id})}">Participate</a></td>
                <td><a th:href="@{/race/edit/{raceId}(raceId=${race.id})}">Edit</a></td>
                <td><a th:href="@{/race/delete/{raceId}(raceId=${race.id})}">Delete</a></td>
            </tr>
        </table>

        <div th:if="${races.totalPages > 0}" class="pagination">
            <span>Page:</span>
            <th:block th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/race/all(size=${races.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber == races.number + 1} ? 'active' : 'inactive'">
                </a>
            </th:block>
        </div>

        <div>
            <form th:action="@{/race/all}" method="get">
                <label for="pageSize">Users per page:</label>
                <select id="pageSize" name="size" onchange="this.form.submit()">
                    <option value="5" th:selected="${races.size == 5}">5</option>
                    <option value="10" th:selected="${races.size == 10}">10</option>
                    <option value="20" th:selected="${races.size == 20}">20</option>
                </select>
            </form>
        </div>

        <p><a href="/race/new">Create new race</a></p>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>