<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new race</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->
    <div>
        <!-- Форма создания гонки -->
        <form th:action="@{new}" th:object="${race}" th:method="POST">
            <h3>Новая гонка</h3>
            <p>
                <select th:field="*{raceType}">
                    <option th:each="raceType : ${T(com.epam.racecup.model.RaceType).values()}"
                            th:value="${raceType}" th:text="${raceType.getDisplayRaceType()}"></option>
                </select>
            </p>
            <p>
                <input type="text" th:field="*{name}" placeholder="Race name">
            </p>
            <p>
                <input type="text" th:field="*{location}" placeholder="Location">
            </p>
            <p>
                <input type="number" step="0.01" min="0" th:field="*{distanceKm}" placeholder="Distance(km) 0.00">
            </p>
            <p>
                <input type="date" th:field="*{date}">
            </p>
            <p>
                <textarea name="Text1" th:field="*{info}" cols="18" rows="5"></textarea>
            </p>
            <!--<p>
                &lt;!&ndash;                Убрать номер айдишника администратора!!!&ndash;&gt;
                &lt;!&ndash;<label text="Organizer ID">Organizer id (убрать)</label>
                <input type="text" th:field="*{organizerId}" placeholder="organizer id">&ndash;&gt;
            </p>-->

            <input type="submit" value="Зарегистрировать гонку">

        </form>
    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>