<th:block xmlns:th="www.thymeleaf.org" th:fragment="header">
    <nav>
        <h1><a href="/mainpage">RaceCup</a></h1>
        <ul>
            <li>
                <a href="/race/all">Schedule</a>
            </li>
            <li>
                <a href="/result">Results</a>
            </li>
            <li>
                <a href="/rating">Rating</a>
            </li>
            <li>
                <a href="/login">
                    <img src="/images/sign_in_icon.png" alt="Login" width="25" height="25">
                </a>
            </li>
        </ul>
    </nav>
</th:block>
