<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>List of all users</h3>
        <table>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Role</th>
            </tr>
            <tr th:each="user:${users}">
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.firstName}">First name</td>
                <td th:text="${user.lastName}">Last name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.isActive}">Status</td>
                <td th:text="${user.role}">Role</td>
                <td sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/edit/{userId}(userId=${user.id})}">Edit</a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/user/{userId}/account (userId=${user.id})}">Account</a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/user/delete/{userId}(userId=${user.id})}">Delete</a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/user/set_role/{userId}(userId=${user.id})}">Set role</a></td>
            </tr>
        </table>

        <div th:if="${users.totalPages > 0}" class="pagination">
            <span>Page:</span>
            <th:block th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/user/all(size=${users.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber == users.number + 1} ? 'active' : 'inactive'">
                </a>
            </th:block>
        </div>

        <div>
            <form th:action="@{/user/all}" method="get">
                <label for="pageSize">Users per page:</label>
                <select id="pageSize" name="size" onchange="this.form.submit()">
                    <option value="5" th:selected="${users.size == 5}">5</option>
                    <option value="10" th:selected="${users.size == 10}">10</option>
                    <option value="20" th:selected="${users.size == 20}">20</option>
                </select>
            </form>
        </div>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>