<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>

    <div>
        <table>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Role</th>
            </tr>
            <tr th:each="user:${users}">
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.firstName}">First name</td>
                <td th:text="${user.lastName}">Last name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.isActive}">Status</td>
                <td th:text="${user.role}">Role</td>
                <td><a th:href="@{/user/edit/{userId}(userId=${user.id})}">Edit</a></td>
                <td><a th:href="@{/user/{userId}/account (userId=${user.id})}">Account</a></td>
                <td><a th:href="@{/user/delete/{userId}(userId=${user.id})}">Delete</a></td>
            </tr>
        </table>

        <p>
            <a href="/user/new">Create new user</a>
        </p>

    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>