<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
<!--                <th>Password</th>-->
<!--                <th>Role</th>-->
                <th>Status</th>
                <th>Role</th>
            </tr>
            <tr th:each="user:${all}">
                <th th:text="user.id">ID</th>
                <th th:text="user.username">Username</th>
                <th th:text="user.firstName">First name</th>
                <th th:text="user.lastName">Last name</th>
                <th th:text="user.email">Email</th>
                <!--<th>Password</th>-->
                <!--<th>Role</th>-->
                <th th:text="user.isActive">Status</th>
                <th th:text="user.role">Role</th>
            </tr>
        </table>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>