<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user info</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>Edit user info</h3>
        <form th:action="@{{id}(id=${user.getId()})}" th:object="${user}" th:method="PATCH">
            <p>
                <label>Enter new/old password: </label>
                <input type="password" th:field="*{password}" placeholder="Password">
            </p>
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}">Email error</p>
            <p>
                <label>Enter firstname: </label>
                <input type="text" th:field="*{firstName}" placeholder="First name">
            </p>
            <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">Firstname error</p>
            <p>
                <label>Enter lastname: </label>
                <input type="text" th:field="*{lastName}" placeholder="Last name">
            </p>
            <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">Lastname error</p>
            <p>
                <input type="submit" value="Edit">
            </p>
        </form>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>