<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User by id</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>

    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <!--<th>Password</th>-->
                <th>Status</th>
                <th>Role</th>
            </tr>
            <tr>
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.firstName}">First name</td>
                <td th:text="${user.lastName}">Last name</td>
                <td th:text="${user.email}">Email</td>
                <!--<th>Password</th>-->
                <td th:text="${user.isActive}">Status</td>
                <td th:text="${user.role}">Role</td>
            </tr>
        </table>

        <a href="/race/all">Назад к списку пользователей</a>
    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>