<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>Registration form</h3>
        <form th:action="@{new}" th:object="${user}" th:method="POST">
            <p>
                <label>Enter username: </label>
                <input type="text" th:field="*{username}" placeholder="Username">
            </p>
            <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}">Username error</p>
            <p>
                <label>Enter email: </label>
                <input type="email" th:field="*{email}" placeholder="Email">
            </p>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">Email error</p>
            <p>
                <label>Enter password: </label>
                <input type="password" th:field="*{password}" placeholder="Password">
            </p>
            <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}">Password error</p>
            <p>
                <label>Enter firstname: </label>
                <input type="text" th:field="*{firstName}" placeholder="First name">
            </p>
            <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">Firstname error</p>
            <p>
                <label>Enter lastname: </label>
                <input type="text" th:field="*{lastName}" placeholder="Last name">
            </p>
            <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">Lastname error</p>
            <p>
                <input type="submit" value="Register">
            </p>
        </form>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>