<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>Sign in</h3>
        <form method="POST" action="/process_login">
            <p>
                <input type="text" name="username" placeholder="Username">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <div th:if="${param.error}" style="color: red;">Wrong username or password</div>
            <p><input type="submit" value="Sign in"></p>
            <p><a href="/user/new">Register</a></p>
        </form>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>