<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>User created successfully!</h3>
        <h4>Now you can sign in</h4>
        <p><a href="/user/sign_in">Sign in</a></p>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>