<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All organizers</title>
  <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
  <div th:replace="/fragments/header :: header"></div>
</header>
<main>

  <div>
    <table>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Contact</th>
      </tr>
      <tr th:each="organizer:${organizers}">
        <td th:text="${organizer.getUser().getFirstName()}">First name</td>
        <td th:text="${organizer.getUser().getLastName()}">Last name</td>
        <td th:text="${organizer.getMobilePhone()}">Phone</td>
      </tr>
    </table>
  </div>

</main>
<footer>
  <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>