<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User -> Organizer</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h3>Organizer registration form</h3>
        <form th:action="@{/organizer/{id}/new (id=${organizer.id})}" th:object="${organizer}" th:method="POST">
            <p>
                <label>Enter your phone number: </label>
                <input type="text" th:field="*{mobilePhone}" placeholder="Phone number">
            </p>
            <p>
                <input type="submit" value="Register">
            </p>
        </form>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>