<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>

    <div>
        <h1 th:text="${race.name}">Название гонки</h1>
        <h4 th:text="${race.location}">Место</h4>
        <h4 th:text="${race.date}">Дата</h4>
        <h4 th:text="${race.raceType}">Тип гонки</h4>
        <p th:text="${race.info}">Информация о гонке</p>
    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>