<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <h1><a href="/mainpage">RaceCup</a></h1>
        <ul>
            <li><a href="/schedule">Календарь</a></li>
            <li><a href="/results">Результаты</a></li>
            <li><a href="/raiting">Рейтинг</a></li>
            <li><a href="/enter">Вход/Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->

    <div>
        <p>
            <a href="#">Вход в личный кабинет</a>
        </p>
        <p>
            <a href="#">Зарегистрироваться</a>
        </p>
    </div>

</main>
<footer>
    <!-- Нижний колонтитул здесь -->
</footer>
</body>
</html>