<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->

    <div>
        <p>
            <a href="#">Вход в личный кабинет</a>
        </p>
        <p>
            <a href="#">Зарегистрироваться</a>
        </p>
    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>