<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <div>
        <h2 style="text-align: center;">Welcome to RaceCup!</h2>
        <p>
            The service was developed as part of the final project of the EPAM UpSkillMe program
            on the Java Software development course.
        </p>
        <p>
            Main functions:
        <ol>
            <li>
                Race schedule:
                <ul>
                    <li>Create and view future bike races</li>
                    <li>Showing the results of past races</li>
                </ul>
            </li>
            <li>
                Rating calculation:
                <ul>
                    <li>Personal rating of athletes</li>
                    <li>Team rating</li>
                </ul>
            </li>
            <li>
                Distribution by roles has been implemented, which expands the range of available
                functions for registered users:
                <ul>
                    <li>User</li>
                    <li>Athlete</li>
                    <li>Organizer</li>
                    <li>Admin</li>
                </ul>
            </li>
        </ol>
        </p>
        <p>
            Stack of applied technologies:
        <ul>
            <li>Java 11</li>
            <li>MySQL</li>
            <li>Spring framework</li>
            <li>Thymeleaf</li>
            <li>JUnit</li>
            <li>HTML</li>
        </ul>
        </p>
        <p>
            RaceCap is a project developed as part of a curriculum designed
            to demonstrate Java development skills.
        </p>
    </div>
</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>