<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RaceCup</title>
  <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
  <div th:replace="/fragments/header :: header"></div>
</header>
<main>
  <!-- Основное содержимое страницы здесь -->

  <div>
    <!-- Форма регистрации -->
    <form>
      <h3>Регистрация</h3>

      <p>
        <input type="text" placeholder="Username">
      </p>
      <p>
        <input type="email" placeholder="Email">
      </p>
      <p>
        <input type="password" placeholder="Password">
      </p>
      <p>
        <input type="password" placeholder="Confirm password">
      </p>
      <p>
        <input type="text" placeholder="First name">
      </p>
      <p>
        <input type="text" placeholder="Last name">
      </p>
      <p>
        <input type="submit" value="Регистрация">
      </p>
    </form>

  </div>

</main>
<footer>
  <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>