<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RaceCup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <nav>
    <h1><a href="/mainpage">RaceCup</a></h1>
    <ul>
      <li><a href="/schedule">Календарь</a></li>
      <li><a href="/results">Результаты</a></li>
      <li><a href="/raiting">Рейтинг</a></li>
      <li><a href="/enter">Вход/Регистрация</a></li>
    </ul>
  </nav>
</header>
<main>
  <!-- Основное содержимое страницы здесь -->

  <div>
    <!-- Форма регистрации -->
    <form>
      <h3>Регистрация</h3>

      <p>
        <input type="text" placeholder="Username">
      </p>
      <p>
        <input type="email" placeholder="Email">
      </p>
      <p>
        <input type="password" placeholder="Password">
      </p>
      <p>
        <input type="password" placeholder="Confirm password">
      </p>
      <p>
        <input type="text" placeholder="First name">
      </p>
      <p>
        <input type="text" placeholder="Last name">
      </p>
      <p>
        <button>Регистрация</button>
<!--        <input type="submit" value="Регистрация">-->
      </p>
    </form>

  </div>

</main>
<footer>
  <!-- Нижний колонтитул здесь -->
</footer>
</body>
</html>