<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<main>
    <!-- Основное содержимое страницы здесь -->
    <div>
        <h2>РЕЙТИНГ</h2>
        <p>
            <a href="./personal">Личный рейтинг</a>
        </p>
        <p>
            <a href="./command">Командный рейтинг</a>
        </p>
    </div>

</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>