<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <h1><a href="/mainpage">RaceCup</a></h1>
        <ul>
            <li><a href="/schedule">Календарь</a></li>
            <li><a href="/results">Результаты</a></li>
            <li><a href="/rating">Рейтинг</a></li>
            <li><a href="/sign_in">Вход/Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->
    <div>
        <table>
            <tr>
                <th>Дата</th>
                <th>Тип</th>
                <th>Название</th>
                <th>Место</th>
                <!-- <th>Дистанция(км)</th>-->
            </tr>
            <tr th:each="race:${schedule}">
                <td th:text="${race.date}">Дата и время</td>
                <td th:text="${race.raceType}">Тип</td>
                <td th:text="${race.name}">Название</td>
                <td th:text="${race.location}">Место</td>
                <!--Ошибка при выводе DECIMAL(6,2) -> Text
                 <td th:text="${race.distanceKm}">Дистанция</td>-->
                <td><a th:href="@{/race/about/{raceId}(raceId=${race.id})}">Информация</a></td>
                <td><a th:href="@{/race/results/{raceId}(raceId=${race.id})}">Результаты</a></td>
                <td><a th:href="@{/race/registration/{raceId}(raceId=${race.id})}">Участвовать</a></td>
                <td><a th:href="@{/race/delete/{raceId}(raceId=${race.id})}">Удалить</a></td>
            </tr>
        </table>
        <p>
            <a href="/new_race">Создать новую гонку</a>
        </p>
    </div>


</main>
<footer>
    <!-- Нижний колонтитул здесь -->
</footer>
</body>
</html>