<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <h1>RaceCup</h1>
        <ul>
            <li><a href="#">Календарь</a></li>
            <li><a href="#">Результаты</a></li>
            <li><a href="#">Рейтинг</a></li>
            <li><a href="#">Вход/Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->
    <div>
        <table>
            <tr>
                <th>Дата</th>
                <th>Тип</th>
                <th>Название</th>
                <th>Место проведения</th>
                <!-- <th>Дистанция(км)</th>-->
            </tr>
            <tr th:each="race:${schedule}">
                <td th:text="${race.dateTime}">Дата</td>
                <td th:text="${race.raceType}">Тип</td>
                <td th:text="${race.name}">Название</td>
                <td th:text="${race.location}">Место</td>
                <!--Ошибка при выводе DECIMAL(6,2) -> Text
                 <td th:text="${race.distanceKm}">Дистанция</td>-->
            </tr>
        </table>
    </div>


</main>
<footer>
    <!-- Нижний колонтитул здесь -->
</footer>
</body>
</html>