<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RaceCup</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<header>
    <div th:replace="/fragments/header :: header"></div>
</header>
<main>
    <!-- Основное содержимое страницы здесь -->
    <div>
        <table>
            <tr>
                <th>Дата</th>
                <th>Тип</th>
                <th>Название</th>
                <th>Место</th>
                <th>Дистанция(км)</th>
            </tr>
            <tr th:each="race:${schedule}">
                <td th:text="${race.date}">Дата и время</td>
                <td th:text="${race.raceType}">Тип</td>
                <td th:text="${race.name}">Название</td>
                <td th:text="${race.location}">Место</td>
                <td th:text="${race.distanceKm}">Дистанция</td>
                <td><a th:href="@{/race/about/{raceId}(raceId=${race.id})}">Информация</a></td>
                <td><a th:href="@{/race/results/{raceId}(raceId=${race.id})}">Результаты</a></td>
                <td><a th:href="@{/race/registration/{raceId}(raceId=${race.id})}">Участвовать</a></td>
                <td><a th:href="@{/race/edit/{raceId}(raceId=${race.id})}">Редактировать</a></td>
                <td><a th:href="@{/race/delete/{raceId}(raceId=${race.id})}">Удалить</a></td>
            </tr>
        </table>
        <p>
            <a href="/new_race">Создать новую гонку</a>
        </p>
    </div>


</main>
<footer>
    <div th:replace="/fragments/footer :: footer"></div>
</footer>
</body>
</html>