<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RaceCup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <nav>
    <h1>
      <a href="/mainpage">RaceCup</a>
    </h1>
    <ul>
      <li><a href="/schedule">Календарь</a></li>
      <li><a href="/results">Результаты</a></li>
      <li><a href="/raiting">Рейтинг</a></li>
      <li><a href="/enter">Вход/Регистрация</a></li>
    </ul>
  </nav>
</header>
<main>
  <!-- Основное содержимое страницы здесь -->

  <div>

    <!-- Форма входа -->
    <form>
      <h3>Вход</h3>

      <p>
        <input type="text" placeholder="Username">
      </p>
      <p>
        <input type="password" placeholder="Password">
      </p>
      <p>
        <button>Войти</button>
      </p>
      <p>
        <a href="#" >Восстановить пароль</a>
      </p>
    </form>

  </div>

</main>
<footer>
  <!-- Нижний колонтитул здесь -->
</footer>
</body>
</html>